{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <form method="GET" action="{{ path('cart_checkout') }}">
                <div class="col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                                    </div>
                                    <div class="col-xs-2 col-xs-offset-4">
                                        <a class="btn btn-primary btn-sm btn-block"
                                           href="{{ path('show_all_products') }}">
                                            <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            {% if cart is not empty %}
                                {% for product in cart %}
                                    <div class="row">
                                        <div class="col-xs-2"><img class="img-responsive"
                                                                   src="{{ asset('uploads/product_pictures/' ~ product.picture) }}">
                                        </div>
                                        <div class="col-xs-4">
                                            <h4 class="product-name"><strong>{{ product.name }}</strong></h4>
                                            <h4>
                                                <small>{{ product.description }}</small>
                                            </h4>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="col-xs-6 text-right">
                                                <h6><strong>$ {{ product.price }} <span
                                                                class="text-muted">x</span></strong>
                                                </h6>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" class="form-control input-sm" name="{{ product.id }}"
                                                       value="{{ product.getRequestedQuantity }}" disabled="disabled">
                                            </div>
                                            <div class="col-xs-2">
                                                <a class="btn btn-link btn-xs"
                                                   href="{{ path('remove_from_cart', {id: product.id}) }}">
                                                    <span class="glyphicon glyphicon-trash"> </span>
                                                </a>
                                            </div>

                                        </div>
                                        <p>Available quantity: <strong>{{ product.quantity }}</strong></p>
                                    </div>
                                    <hr>
                                {% endfor %}
                            {% else %}
                                <h2 class="text-center">Your cart is empty :)</h2>
                            {% endif %}
                        </div>
            </form>
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-9">
                        <h4 class="text-right">Total <strong>$ {{ total }}</strong></h4>
                    </div>
                    <div class="col-xs-2">
                        {% if total < app.user.cash %}
                            <button type="submit" class="btn btn-success btn-block">
                                Checkout
                            </button>
                        {% else %}
                            <a href="{{ previousUrl }}" class="btn btn-info btn-block">
                                Back
                            </a>
                            <p class="alert-danger">Not enough money</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>
{% endblock %}