<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %} art.me {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="#"/>
</head>

<body style="background-color: whitesmoke" id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="container-fluid" style="background-color: whitesmoke">
            <div class="container col-sm-offset-4" style="margin-top:7%; position: absolute; left: -40%">
                <input type="text"  name="search" style="position: absolute;  right:20%;width:24.5%; height: 35px; font-size:13pt; margin-bottom: 5px">
                <button type="submit" class="btn btn-md btn-primary col-sm-1 col-sm-offset-4" style="position: absolute; left: 48%; margin-bottom: 2%">Search</button>
            </div>
            <div style="background-color: whitesmoke" class="navbar-static-top" role="navigation">
                <div class="container-fluid" style="margin-bottom:100px">
                    <div class="navbar-header">

                        <a href="{{ path('homepage') }}" class="navbar-brand">
                            <img src="{{ asset('favicon.png') }}" height="130px" width="250px">
                        </a>

                        <button type="button" style="height: 40px; margin-top: 100px; background-color: dodgerblue"
                                class="navbar-toggle btn-block" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <p style="color: white"><strong>MENU</strong></p>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 10px">

                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="" class=" dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ asset('user.svg') }}" style="width:18px">
                                        <strong>My Profile</strong>
                                        <span class="caret"></span></a>
                                    <ul class="nav dropdown-menu">
                                        <li>
                                            <a href="{{ path('show_my_products') }}"><strong style="color: blue">My products</strong></a>
                                        </li>
                                        <li>
                                            <a href="#"><strong style="color: blue">Link 1</strong></a>
                                        </li>
                                        <li>
                                            <a href="#"><strong style="color: blue">Link 2</strong></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="{{ path('show_cart') }}">
                                        <img src="{{ asset('cart.png') }}" style="width:18px">
                                        <strong>Cart</strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_logout') }}">
                                        <img src="{{ asset('logouticon.png') }}" style="width:18px">
                                        <strong>Logout</strong>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('user_register') }}">
                                        <img src="{{ asset('registericon.png') }}" style="width:18px">
                                        <strong> REGISTER </strong>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('security_login') }}">
                                        <img src="{{ asset('loginicon.png') }}" style="width:18px">
                                        <strong>LOGIN</strong>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div style="background-color: dodgerblue" class="navbar-static-top" role="navigation">
            <div class="container down_header">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path('show_all_products') }}" class="navbar_button">
                                <img src="#" style="width:18px">
                                <strong>Show all products</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navbar_button">
                                <img src="#" style="width:18px">
                                <strong>Link 1</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="navbar_button">
                                <img src="#" style="width:18px">
                                <strong>Link 2</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container body-style">
    {% block body %}

        <div class="row">
            <div id="main" class="col-sm-9">
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>
</body>

<footer class="container  modal-footer">
    {% block footer %}
        <footer class="nav navbar-nav navbar-right">
            <div>
                <p>&copy; 2016 - All rights reserved </p>
            </div>
        </footer>
    {% endblock %}
</footer>

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
{% endblock %}
{% block imageViewer %}

{% endblock %}
</html>
